li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

nav {
    border-bottom: solid 1px;
    width: 100vw;
}

.nav-bar {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
}

.links li {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: large;
}

a:hover {
    color: darkcyan;
}